.food {
  margin-top: 1em;
  text-align: center;
  // background-image: url("./images/kelch.jpeg");
  h2 {
    font-size: 2em;
  }

  p {
    font-family: "Quintessential", handwriting;
    color: #612727;
    font-size: 1.35em;
    margin: 1em;
  }

  h3 {
    font-family: "Times New Roman", Times, serif;
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }

  .picture-food {
    display: flex;
    flex-direction: column;
    align-items: center;

    .category-container {
      width: 100%;
      text-align: center;
      margin-bottom: 2em;

      .category-title {
        font-size: 1.5em;
        margin-bottom: 1em;
      }

      .word-cloud {
        list-style: none;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        gap: 1em;
        justify-items: stretch;
        justify-content: space-between;
        align-items: baseline;
        margin: 0em 5em 0em 5em;

        .food-list {
          font-size: 1.2em;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-end;
          width: 100%;

          img {
            width: 100%;
            height: auto;
            max-width: 100%;
            border-radius: 0.5em;
          }

          p {
            margin-top: 0.5em;
          }
        }
      }
    }
  }

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #61272780;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal-content {
    background: #fff;
    padding: 1em;
    border-radius: 8px;
    img {
      width: 20em;
      height: 10em;
      object-fit: cover;
      border-radius: 0.5em;
    }
  }

  @media screen and (min-width: 480px) {
    .food-list {
      font-size: 1em;
    }
  }

  @media screen and (min-width: 768px) {
    h2 {
      font-size: 2em;
    }

    p {
      margin: 1em;
    }

    h3 {
      font-size: 2rem;
    }

    .food-list {
      font-size: 1.2em;
    }
  }
}
