@import url(https://fonts.bunny.net/css?family=fleur-de-leah:400);
@import url(https://fonts.bunny.net/css?family=alkatra:400);

.intro-page,
.festivites,
.diaporama-paysage {
  margin-top: 1em;
  text-align: center;
  h2 {
    font-size: 2em;
  }
  p {
    font-family: "Alkatra", display;
    color: #612727;
    font-size: 1.35em;
    margin: 1em;
  }
}

.link-to-gastro {
  font-size: 1rem;
  padding: 0.5em 1em;
  background-color: #612727;

  border: none;
  border-radius: 0.3em;
  cursor: pointer;
  span {
    color: #fff;
  }
  &:hover {
    box-shadow: 0 0 5px #612727;
  }
}

.festivites {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0;
}

.festivites-header {
  text-align: center;
  margin-bottom: 3rem;
}

.festivites-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.festivite-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  width: 45%;
  outline: 1px solid #612727;
  img {
    margin-top: 0.5em;
    width: 15em;
    height: 15em;
    object-fit: cover;
    border-radius: 0.5em;
    @media (max-width: 650px) {
      width: 10em;
      height: 10em;
    }
  }
}

@media (max-width: 768px) {
  .festivite-item {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .festivite-item {
    width: 100%;
  }
}

.festivite-content {
  text-align: center;
  margin-top: 1rem;
  a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    padding: 0.5em 1em;
    background-color: #612727;
    border: none;
    border-radius: 0.3em;
    cursor: pointer;
    &:hover {
      box-shadow: 0 0 5px #612727;
    }
  }
}

.transports-trajets {
  margin: 2rem;
  padding: 1rem;
  text-align: center;
  background-color: #f9f9f9;

  h3 {
    font-size: 1.8em;
    color: #333;
    margin-bottom: 1em;
  }

  .velo,
  .bus {
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    svg {
      font-size: 2em;
      color: #612727;
    }

    p {
      font-size: 1.2rem;
      margin: 1em;
    }

    &:last-child {
      margin-bottom: 0;
    }

    .bus-trajet {
      h4 {
        font-size: 1.5em;
        color: #333;
        margin-bottom: 1em;
      }

      form {
        margin-bottom: 1em;

        label {
          display: block;
          margin-bottom: 0.5em;

          span {
            font-size: 1.2em;
            color: #333;
            margin-right: 0.5em;
          }

          select {
            background-color: #cac2c2;
            font-size: 1rem;
            padding: 0.5em;
            outline: 1px solid #ccc;
            border-radius: 0.3em;
            option {
              background-color: #f3f2f2;
            }
          }
        }

        button {
          font-size: 1rem;
          padding: 0.5em 1em;
          background-color: #612727;
          color: #fff;
          border: none;
          border-radius: 0.3em;
          cursor: pointer;
          &:hover {
            box-shadow: 0 0 5px #612727;
          }
        }
      }
    }

    ul {
      list-style-type: none;
      padding: 0;
      margin: 1em;
      background-color: #612727;

      li {
        font-size: 1.2rem;
        color: #fff;

        padding: 0.3em;
      }
    }
  }
}
