.Logo-Title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;

  h1 {
    font-size: 2rem;
    margin: 0;

    @media (max-width: 768px) {
      font-size: 1.5rem;
    }
  }

  img {
    max-width: 20%;
    height: auto;
  }
}
