.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 2em;
  background-color: #612727;

  @media screen and (max-width: 600px) {
    flex-direction: column;
    text-align: center;
  }

  .logo {
    width: 10em;
    height: auto;
  }
  svg {
    margin-top: 0.5em;
    color: #c1c8ce;
    font-size: 2rem;
  }

  .logoDev {
    width: 4em;
    height: auto;

    @media screen and (max-width: 600px) {
      width: 50vw;
    }
  }

  div {
    list-style: none;
    padding: 0;
    margin: 1em 0;

    @media screen and (max-width: 600px) {
      margin-top: 0.5em;
    }

    p,
    a {
      margin: 1em 0;
      text-align: center;
      color: #ffffff;

      @media screen and (max-width: 600px) {
        margin-top: 0.5em;
      }
    }
  }
}
