.promo {
  text-align: center;
  background-color: #eeff00;
  padding: 1em;
  transition: opacity 0.3s, max-height 0.3s;
  animation: blink 2s linear infinite;

  p {
    color: #000000;
    font-size: 1.2em;
  }

  &.visible {
    opacity: 1;
    max-height: 100px;
  }

  &.hidden {
    opacity: 0;
    max-height: 0;
  }

  @keyframes blink {
    0% {
      background-color: #eeff00;
    }
    50% {
      background-color: #ff0000;
    }
    100% {
      background-color: #eeff00;
    }
  }
}
