.Navbar {
  background-color: #612727;
  border-radius: 0.5em;
  padding: 1em;
  margin-bottom: 0.5em;

  @media screen and (max-width: 768px) {
    border-radius: 0.5em;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    padding: 0 1.5em;
    box-sizing: border-box;
    background-color: transparent;
  }

  .menu-items {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;

    @media screen and (max-width: 768px) {
      outline: 2px solid #000;
      flex-direction: row;
      justify-content: space-between;
      background-color: #612727;
      display: flex;
      border-radius: 0.5em;
    }

    li {
      position: relative;

      transition: background-color 0.3s;
      box-sizing: border-box;

      @media screen and (max-width: 768px) {
        padding: 0;
        position: relative;
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
      }

      a {
        color: #d4c190;
        text-decoration: none;
        transition: color 0.3s;
        display: flex;
        align-items: center;
        padding: 0.5em;

        @media screen and (max-width: 768px) {
          padding: 0.3rem;
          flex-direction: column;
          font-size: 1.2em;
        }

        @media screen and (max-width: 430px) {
          padding: 0.2rem;
          font-size: 1em;
        }

        span {
          margin-left: 0.5rem;
          text-align: center;

          @media screen and (max-width: 768px) {
            display: block;
            margin-top: 0.2rem;
            font-size: 0.7em;
          }

          @media screen and (max-width: 430px) {
            margin-top: 0.1rem;
            font-size: 0.6em;
          }
        }

        &:not(.active):hover {
          color: #f8c471;
        }
      }

      .active {
        outline: 2px solid #d4c190;

        display: block;
        padding: 0.5em;

        @media screen and (max-width: 768px) {
          outline: 1px solid #75553f;

          font-size: 0.4em;
        }
      }
    }
  }
}
