.navbar {
  background-color: #612727;
  border-radius: 0.5em;
  margin-bottom: 0.5em;

  .navbar-burger {
    cursor: pointer;
    display: none;
    font-size: 1.5em;

    @media screen and (max-width: 856px) {
      display: block;
      position: fixed;
      bottom: 0;
      background-color: #612727;
      color: #fff;
      margin: 0.5em;
      padding: 0.5em;
      border-radius: 0.5em;
    }
  }

  .navbar-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    @media screen and (max-width: 856px) {
      position: fixed;
      left: 0;
      bottom: 0;
      flex-direction: column;
      width: 100%;
      background-color: #612727;
      z-index: 1;
      display: none;

      &.show {
        display: flex;
      }
    }

    li {
      position: relative;
      padding: 1rem;

      &:hover {
        display: flex;
        flex-direction: column;
      }

      a {
        color: white;
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 0.5em;

        &:hover {
          color: #ff9900;
        }
      }
    }

    .active {
      color: #ff9900;
      padding: 0.2em;
      background-color: #ff990018;
      box-shadow: 0 0 30px #75553f;
    }

    /* Responsive styles */
    @media screen and (max-width: 856px) {
      flex-direction: column;

      li {
        padding: 0.5rem;
        position: relative;

        a {
          padding: 0.3rem;
        }
      }
    }
  }
}
